
/*========== Body_2 컴포넌트 ==========*/

.body_5-box{
  padding-top:3em;
  padding-bottom:3em;
}

.body_5-title{
    font-size: 35px;
    font-weight: bold;
    padding-bottom:1.5em;
}

/* ====== page2 하단 ====== */
.body_5-bottom > div{
  justify-content: space-evenly;
  display: flex;
}
/* ====== 이미지 구역 =======*/
.page5-img-box{
  padding: 0.5em;
}
.page5-img-card{
  background-color: darkgray;
}
.page5-img-text{
  text-align: center;
}

