.footer-root{
  padding: 0 calc((100% - 1440px) / 2);
}

.slider-box{
  background-color: rgba(255, 255, 255, 0.664);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  justify-content: center;
  align-items: center; /* 세로 중앙 정렬 추가 */
  height: 40px; /* 필요한 경우 높이 설정 */
  padding-top: 7px;
}

@media only screen and (max-width: 767px) {
  /*모바일 스타일*/
  .footer-root{
   
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /* 테블릿 스타일 */
  .footer-root{
   
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1279px) {
  /* 라지 테블릿 스타일 */
  .footer-root{
  
  }
}