.body-root{
  padding: 0 calc((100% - 1278px) / 2);
}
/* =========== 확대 모달 css ===========*/
.zommBtn{
    display: flex;
    justify-content: center;
    width: 100%;
}
.svg-box > div{
  cursor: grab;
  width: auto !important;
  text-align: center; 
}
.svg-box > div:active{
  cursor: grabbing;
}
.svg-box > div > div{
  display: block;
  width: auto !important;
}

.hoverImg:hover{
  border-radius: 5px;
  position: relative;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
  transition: background 0.7s;
}

/*========== body 반응형 미디어 쿼리 ==========*/
@media only screen and (max-width: 767px) {
  /*모바일 스타일*/
  .body-root{
    padding: 0 5em 0 5em;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /* 테블릿 스타일 */
  .body-root{
    padding: 0 5em 0 5em;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1279px) {
  /* 라지 테블릿 스타일 */
  .body-root{
    padding: 0 5em 0 5em;
  }
}
