.book-box{
	width: 1500px;
	height:1000px;
	overflow:hidden;
	padding-top: 20px;
	perspective: 2500px; /* 3D 효과를 위한 원근감 추가 */
}
#book{
	margin: 0 auto;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3) !important; /* 오른쪽 5px, 아래쪽 5px 위치에 그림자 적용 */
}

#book .turn-page{
	background-color:white;
	box-shadow: 0 0 20px rgba(128, 128, 128, 0.5); /* 그림자 효과 추가 */
    transform: rotateY(-30deg); /* 페이지 커브 효과 */
}

#book .cover{
	background:#1f1f1f;
	 /* 오른쪽과 아래쪽에 그림자 추가 */
}

#book .cover h1{
	color:white;
	text-align:center;
	font-size:50px;
	line-height:500px;
	margin:0px;
}

#book .loader{
	background-image:url(loader.gif);
	width:24px;
	height:24px;
	display:block;
	position:absolute;
	top:238px;
	left:188px;
}

#book .data{
	text-align:center;
	font-size:40px;
	color:#999;
	line-height:500px;
}

#controls{
	width:800px;
	text-align:center;
	margin:20px 0px;
	font:30px arial;
}

#controls input, #controls label{
	font:30px arial;
}

#book .odd{
	background-image:-webkit-linear-gradient(right, #FFF 95%, #ddd 100%);
	background-image:-moz-linear-gradient(right, #FFF 95%, #ddd 100%);
	background-image:-o-linear-gradient(right, #FFF 95%, #ddd 100%);
	background-image:-ms-linear-gradient(right, #FFF 95%, #ddd 100%);
}

#book .even{
	background-image:-webkit-linear-gradient(left, #FFF 95%, #ddd 100%);
	background-image:-moz-linear-gradient(left, #FFF 95%, #ddd 100%);
	background-image:-o-linear-gradient(left, #FFF 95%, #ddd 100%);
	background-image:-ms-linear-gradient(left, #FFF 95%, #ddd 100%);
}


@media (max-width: 1000px) {
	#book{
		height: 350px;
		margin: 0 auto;
		box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3) !important; /* 오른쪽 5px, 아래쪽 5px 위치에 그림자 적용 */
	}
	
	#book .even{
		background-image:-webkit-linear-gradient(right, #FFF 100%, #ddd 100%);
		background-image:-moz-linear-gradient(right, #FFF 100%, #ddd 100%);
		background-image:-o-linear-gradient(right, #FFF 100%, #ddd 100%);
		background-image:-ms-linear-gradient(right, #FFF 100%, #ddd 100%);
	}

	#book .odd{
		background-image:-webkit-linear-gradient(left, #FFF 100%, #ddd 100%);
		background-image:-moz-linear-gradient(left, #FFF 100%, #ddd 100%);
		background-image:-o-linear-gradient(left, #FFF 100%, #ddd 100%);
		background-image:-ms-linear-gradient(left, #FFF 100%, #ddd 100%);
	}
  }
  