body{
	background:#cacaca;
}

.book-box{
	width: 1500px;
	height:1000px;
	overflow:hidden;
	padding-top: 20px;
	perspective: 2500px; /* 3D 효과를 위한 원근감 추가 */
}
#book{
	margin: 0 auto;
}

#book .turn-page{
	background-color:white;
	box-shadow: 0 0 20px rgba(0,0,0,0.5); /* 그림자 효과 추가 */
    transform: rotateY(-30deg); /* 페이지 커브 효과 */
}

#book .cover{
	background:#333;
}

#book .cover h1{
	color:white;
	text-align:center;
	font-size:50px;
	line-height:500px;
	margin:0px;
}

#book .loader{
	background-image:url(loader.gif);
	width:24px;
	height:24px;
	display:block;
	position:absolute;
	top:238px;
	left:188px;
}

#book .data{
	text-align:center;
	font-size:40px;
	color:#999;
	line-height:500px;
}

#controls{
	width:800px;
	text-align:center;
	margin:20px 0px;
	font:30px arial;
}

#controls input, #controls label{
	font:30px arial;
}

#book .odd{
	background-image:-webkit-linear-gradient(right, #FFF 95%, #ddd 100%);
	background-image:-moz-linear-gradient(right, #FFF 95%, #ddd 100%);
	background-image:-o-linear-gradient(right, #FFF 95%, #ddd 100%);
	background-image:-ms-linear-gradient(right, #FFF 95%, #ddd 100%);
}

#book .even{
	background-image:-webkit-linear-gradient(left, #FFF 95%, #ddd 100%);
	background-image:-moz-linear-gradient(left, #FFF 95%, #ddd 100%);
	background-image:-o-linear-gradient(left, #FFF 95%, #ddd 100%);
	background-image:-ms-linear-gradient(left, #FFF 95%, #ddd 100%);
}

#book .turn-page {
    position: relative; /* 가상 요소를 위한 상대 위치 설정 */
}

#book .turn-page:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 2px; /* 세로 선의 너비 */
    background-image: linear-gradient(to bottom, #050505, #000000, #fff); /* 세로 선 그라데이션 */
}

#book .turn-page:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 2px; /* 세로 선의 너비 */
    background-image: linear-gradient(to bottom, #181818, #000000, #fff); /* 세로 선 그라데이션 */
}

#book .turn-page {
    box-shadow: inset -1px 0 3px rgba(0, 0, 0, 0.4), inset 1px 0 3px rgba(0, 0, 0, 0.4);
}